.idea
/*/.idea
*.iml
/*/*.iml
/*/*/*.iml

.project
/*/.project
/*/*.project
.settings
/*/.settings
/*/*.settings

/*/*/bin
/*/*/target
/*/*/.classpath
/*/bin
/*/target
/target
/*/.classpath
.classpath
